html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.jumbotron{
  margin: 12% auto auto;
}
.fa-circle-check{
  margin-top: 30px;
  color: rgb(7, 160, 7);
  /* filter: drop-shadow(0 10px 10px rgb(151, 151, 151)); */
}

.fa-face-frown{
  color: rgb(10, 10, 56);
}

.btn-warning{
  margin-top: 30px
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle{
    margin-bottom: -1px;
    border-radius: 0;
}

.bottom {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.fa-github{
  color: rgb(97, 96, 96);
}
.fa-github:hover{
  color: rgb(46, 46, 78);
}

.fa-envelope-circle-check{
  background-image: linear-gradient(to right, #0d6efd, rgb(0, 225, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 50px;
}